

<div class="row row-cols-1 row-cols-md-3 putdown">
    <div class="col mb-4 ">
      <div class="card">
        <a routerLink="/speciality"><img src="/assets/image/mypizza.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title title">Pizza</h5>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <a href=""><img src="/assets/image/burgertime.png" class="card-img-top burger" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title title">Burger</h5>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
         <a href=""><img src="/assets/image/japonais.png" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title title">Japponais</h5>
        </div>
      </div>
    </div>
    <div class="col mb-4 space">
      <div class="card">
         <a href=""><img src="/assets/image/indien1.png" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title title">Indien</h5>
        </div>
      </div>
    </div>
    <div class="col mb-4 space">
        <div class="card">
           <a href=""><img src="/assets/image/africain-food.png" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title title">Africain</h5>
          </div>
        </div>
      </div>
      <div class="col mb-4 space">
          <div class="card">
             <a href=""><img  src="/assets/image/taillande.png" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title title">Taillandais</h5>
            </div>
          </div>
        </div>
  </div>
<app-navbar></app-navbar>
