<nav class="navbar navbar-expand-lg navbar-dark black_nav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">Eat-Out</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 space" >
      <li class="nav-item active">
        <a class="nav-link" id="change_text" href="#">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#" id="change_text">Ville</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item"><a class="nav-link" id="change_text" href="#">Connect</a></li>
      <li class="nav-item"><a class="nav-link" id="change_text" href="#">S'inscrire</a></li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand bg-light test">
    <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link " id="type_restau" href="#" >Type Restaurant <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 type_restau" type="submit">Cherche</button>
      </form>
    </div>
  </nav>
  <router-outlet></router-outlet>

 <!-- <app-home></app-home> -->
