h1 {
margin-top: 50px;
text-align: center;
color: black;
}

.row {
  margin-top: 75px;
}

.restau {
  width: 400px;
}

ul {
  font-family: Arial;
  margin: 0 auto;
}

ul li {
  display: inline-block;
  margin-left:15px;
}
